* {
  margin: 0;
  padding: 0;
}

main {
  padding: 12px;
}

ul li h1 {
  text-align: center;
  padding: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

li {
  list-style: none;
}

.box {
  background-color: rgb(0, 85, 119);
  border: 2px solid black;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* Container  */
#container {
  border: 2px solid red;
  border-radius: 12px;
  height: fit-content;
  padding: 12px;
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 70px 100px;
  grid-auto-rows: 50px;
}

#box-7 {
  grid-area: 3/1/3/3;
}

#box-3 {
  grid-area: 1/3/4/3;
}

#box-1 {
  grid-area: 1/1/3/1;
  /* transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease-in;
  transition-delay: 0.2s; */

  /* transition shorthand */
  transition: all 2s ease-in 0.2s;
}

#box-1:hover {
  border: 3px solid red;
  background-color: rgb(19, 126, 226);
  color: white;
  font-size: 25px;
}
#box-2 {
  transition: all 2s ease-in 0.2s, height 1s ease-in 2s;
  width: 640px;
  height: 70px;
  transform: rotate(45deg);
  transform: scaleX(1.03);
  transform: translate(20px, 10px);
}

#box-2:hover {
  background-color: goldenrod;
  width: 153px;
  height: 70px;
  margin-bottom: 1.2rem;
}
