body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: gray;
}

div {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  margin: 25px;
  /* padding: 25px; */
  display: inline;
}
