* {
  margin: 0;
  padding: 0;
}

ul li h1 {
  text-align: center;
  padding: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  list-style-type: none;
  margin: 0;
}

li {
  list-style: none;
}
