* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  text-align: center;
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}
div {
  height: 100px;
  width: 200px;
  border: 2px solid black;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box1 {
  background-color: pink;
}

#box2 {
  background-color: yellow;
}

#box3 {
  background-color: aqua;
}

#box4 {
  background-color: brown;
  color: white;
}

#box5 {
  background-color: coral;
}

#container {
  height: 500px;
  width: 600px;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
