main div {
  height: 100px;
  width: 100px;
  background-color: aqua;
  border: 2px solid black;
  display: inline-block;
}

#box1 {
  position: static;
  /* Static means "By Default"  */
  /* By Default this element has position it will be on same path */
  top: 50px;
  left: 50px;
}

#box2 {
  position: relative;
  top: 1.2rem;
  left: 1rem;
  z-index: -1;
}

#box3 {
  position: absolute;
  /* I didn't understand the position: absolute; */
  top: 20px;
}
